<!doctype html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.gtag }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.gtag }}');
  </script>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ title }} • {{ site.name }}</title>
  <link rel="icon" type="image/svg+xml" href="/images/logo.svg">
  <meta name="description" content="{{ description }}">
</head>
<body>
{{ content | safe }}
</body>
</html>
